n8n/careerpilot-workflow.json
{
  "name": "CareerPilot — Daily Job Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Каждые 4 часа",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.CAREERPILOT_URL }}/api/stats",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http-stats",
      "name": "GET CareerPilot Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.funnel.recommended }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-has-matches",
      "name": "Есть рекомендации?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const stats = $input.first().json;\nconst f = stats.funnel;\nconst s = stats.stats;\nconst top = stats.topVacancies || [];\n\nconst topList = top.slice(0, 3).map((v, i) => {\n  const name = (v.report || '')\n    .replace('.md', '')\n    .replace(/^\\d+-/, '')\n    .replace(/-/g, ' ');\n  return `${i + 1}. *${v.score}/5* — ${name}\\n   [hh.ru](${v.url})`;\n}).join('\\n\\n');\n\nconst msg = `🚀 *CareerPilot — Дайджест*\\n\\n📊 Воронка:\\n• Найдено: *${f.found}*\\n• Оценено: *${f.aiEvaluated}*\\n• Рекомендовано: *${f.recommended}*\\n• Откликов: *${f.applied}*\\n\\n📈 Средний скор: *${s.avgScore}/5*\\n\\n⭐ Топ-3 вакансии:\\n\\n${topList}\\n\\n💬 Задай вопрос боту или открой [CareerPilot](${$env.CAREERPILOT_URL})`;\n\nreturn [{ json: { text: msg } }];"
      },
      "id": "code-format",
      "name": "Форматировать сообщение",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true
        }
      },
      "id": "telegram-send",
      "name": "Отправить в Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-careerpilot",
          "name": "CareerPilot Bot"
        }
      }
    }
  ],
  "connections": {
    "Каждые 4 часа": {
      "main": [
        [
          {
            "node": "GET CareerPilot Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET CareerPilot Stats": {
      "main": [
        [
          {
            "node": "Есть рекомендации?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть рекомендации?": {
      "main": [
        [
          {
            "node": "Форматировать сообщение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Форматировать сообщение": {
      "main": [
        [
          {
            "node": "Отправить в Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "description": "Автоматический дайджест CareerPilot: каждые 4 часа проверяет API, форматирует статистику и отправляет в Telegram. Визуальный вайб-кодинг без единой строки интеграционного кода."
  }
}
